<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory >
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="hibernate.connection.username">c##asaf</property>
		<property name="hibernate.connection.password">asaf</property>

		<property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>

		<!-- Enable Hibernate's automatic session context management (to use getCurrent Session) -->
	<!--	<property name="current_session_context_class">thread</property>-->

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<property name="hbm2ddl.auto">update</property>

		<!-- Enable the second-level cache -->
<!--		 <property name="cache.use_second_level_cache">true</property>-->

<!--
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="net.sf.ehcache.configurationResourceName">/ehcache.xml</property>
		<property name="hibernate.cache.use_query_cache">true</property> 
-->

		<!-- For Batch processing -->
		<!-- <property name="hibernate.jdbc.batch_size"> 50 </property>-->
		 
	</session-factory>
	
	
</hibernate-configuration>







