<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Service</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="customerServiceHome.css">
</head>
    <body>
    <div class="container-fluid">
        <!-- NavBar Starts -->
        <nav class="navbar navbar-expand-sm navbar-light bg-light" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03 ">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Product <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown dmenu mx-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar1" data-toggle="dropdown">
                            Policy Setup
                        </a>
                        <div class="dropdown-menu sm-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown dmenu mx-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar2" data-toggle="dropdown">
                            Parameters
                        </a>
                        <div class="dropdown-menu sm-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Application</a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Receipt</a>
                    </li>

                    <li class="nav-item dropdown dmenu mx-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar3" data-toggle="dropdown">
                            Accounting
                        </a>
                        <div class="dropdown-menu sm-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Customer Service</a>
                    </li>

                    <li class="nav-item dropdown dmenu mx-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar4" data-toggle="dropdown">
                            Report
                        </a>
                        <div class="dropdown-menu sm-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav><br>
        <!-- NavBar Ends -->
        <nav class="nav flex-column">
            <table>
                <tr>
                    <td><a class="nav-link active" href="#" id="loanSummary">Loan Summary</a></td>
                </tr>
                <tr>
                    <td><a class="nav-link" href="#" id="custDetails">Customer Details</a>
                </tr>
                <tr>
                    <td><a class="nav-link" href="#" id="repaySchedule">Repayment Schedule</a></td>
                </tr>
                <tr>
                    <td><a class="nav-link" href="#" id="disDetails">Disbursal Details</a></td>
                </tr>
            </table>
        </nav>
    </div>
    </body>
</html>